<div>
    Hello world from OldMusicBox.SAML2 client. You are logged as @this.User.Identity.Name 
</div>
<div>
    Click here for <a href="/Account/Logout">SAML2 logout</a>
</div>
<div>
    Click here for <a href="/Account/Local Logout">Local logout</a>
</div>


